.thumbnail-container {
  overflow-x: scroll;
  display: flex;
  height: 150px;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  justify-content: center;
  padding: 10px;
  flex-direction: row;
}

.large-image-section {
  display: flex;
  width: 100px;
  max-height: 100vh;
  padding: 10px;
}
